{% extends 'appassistance/base.html' %}

{% load crispy_forms_tags %}

{% block contenido  %}


<!--Empresa-->
<div id="login-form-wrap">
    <div class="card">
        <div class="card-body">

        </br>
        <form method="post">
            {% csrf_token %}
            {{formulario.as_p}}

            <button type="submit" value="Crear empresa" class="btn btn-success btn-labeled pull-right">
                <span class="btn-label btn-label-right"><i class="fa fa-plus" aria-hidden="true"></i></span>&nbsp; Crear empresa
            </button>
       
        <form>    

        </div>
    </div>
</div>


    {% endblock  %}    