{% extends "appassistance/base.html" %} 
{% load crispy_forms_tags %}

{% block start %}


<!--Login-->
<div id="login-form-wrap">
  <div class="card">
    <div class="card-body">
    </br>
    
      <form id="login-form" method="post">
        {% csrf_token %} 
         {{ form|crispy}}  
      </br>

      <button type="submit" name="login" class="btn btn-success btn-labeled pull-right">
        <span class="btn-label btn-label-right"><i class="fa fa-check"></i></span>&nbsp; Sign in
      </button>
       
     </form>
      
  </br>
     <div id="create-account-wrap">
        <small class="text-muted">
          ¿No tiene una cuenta?
          <a class="ml-2" href="{% url 'register' %}">Cree una cuenta.</a>
        </small>
     </div>


    </div>
  </div>
</div>   


{% endblock start%}




